<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name="KiwiRail Login Test suite" verbose="5">
  <test name="Test Params">
  	<parameter name="username" value="testuser"/>
	<parameter name="password" value="testpassword"/>
    <classes>
		<class name="qa.testcases.HomePageTest"/>
    </classes>
  </test>  
</suite>